<div id="pop">


  <div class="container-fluid">
    <div>
      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
          <div class="card" style="width:23em; margin-left:4em;">
            <img src="/assets/images/card-image.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <div class="text-center">
                <p style="color: white;">1000++ games</p>

                <h3 class="card-title" style="color: white;">14,99&euro;/month</h3>
                <br>

                <a [routerLink]="['/register_page']" class="btn" style="color: black;">Subscribe</a>
                <br>

                <p class="card-text" style="color: white;">
                  *Cancel any time
                </p>
              </div>
            </div>


          </div>
        </div>


        <div class="col-4">


        </div>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid">

  <article class="sample-wrapper">

    <igx-accordion #accordion>
      <igx-expansion-panel>
        <igx-expansion-panel-header>
          <igx-expansion-panel-title style="color: white;">
            What is cloud gaming?
          </igx-expansion-panel-title>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
          <div class="body-container" style="color:white;background-color: #5A4C75; font-size:16px;">
            Cloud gaming allows you to stream games to the supported devices you own (phone, tablet, TV...) with a
            high-speed internet connection.
            Cloud gaming brings you flexibility in how you play without worrying about system requirements. For more
            details, see the dedicated page.
          </div>
        </igx-expansion-panel-body>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-header>
          <igx-expansion-panel-title style="color: white;">
            What kind of internet do i need?
          </igx-expansion-panel-title>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
          <div class="body-container" style="color:white;background-color: #5A4C75; font-size:16px;">
            An internet connection speed of 10 megabits per second (Mbps) or greater is the minimum recommended
            to use Pamda.
          </div>
        </igx-expansion-panel-body>
      </igx-expansion-panel>

      <igx-expansion-panel>
        <igx-expansion-panel-header>
          <igx-expansion-panel-title style="color: white;">
            How much does PAMDA cost?
          </igx-expansion-panel-title>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
          <div class="body-container" style="color:white;background-color: #5A4C75; font-size:16px;">
            PAMDA is available to try for one week. Jump in with instant access to a growing collection of games
            (charged automatically at 14.99&euro;/month after trial, cancel anytime. Subscription autorenews unless
            cancelled).
          </div>
        </igx-expansion-panel-body>
      </igx-expansion-panel>

      <igx-expansion-panel>
        <igx-expansion-panel-header>
          <igx-expansion-panel-title style="color: white;">
            How can i cancel my subscription?
          </igx-expansion-panel-title>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
          <div class="body-container" style="color:white;background-color: #5A4C75; font-size:16px;">
            You can cancel at any time in your account settings. Your subscription will remain active until the very
            last
            day of the current month you paid for. After this, the subscription will be cancelled and will not renew
            itself.
          </div>
        </igx-expansion-panel-body>
      </igx-expansion-panel>

      <igx-expansion-panel>
        <igx-expansion-panel-header>
          <igx-expansion-panel-title style="color: white;">
            Will i get notified when my free trial expires?
          </igx-expansion-panel-title>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
          <div class="body-container" style="color:white;background-color: #5A4C75; font-size:16px;">
            Yes, you will receive an email notifying you that your free trial is about to expire and that you need to
            cancel your subscription if you don't want to be charged automatically after the 7 days of your free trial.
          </div>
        </igx-expansion-panel-body>
      </igx-expansion-panel>

    </igx-accordion>
  </article>
</div>