<!-- Footer -->
<footer style="background-color: #1F1B29; ">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container-fluid">

    <div class="row">

      <div class="col-2" style="margin-top:8px">
        <div class="text-center">
          <img src="/assets/images/pamdaheader2.png" alt="Logo of PAMDA">

          <h6 style="color: white; font-size:12px; margin-top:0">PAMDA 2022 &copy;</h6>
        </div>

      </div>
      <div class="col-3"></div>
      <div class="col-2">
        <div class="text-right" style="display:flex">
          <ul class="list-unstyled mb-0" style="font-size: 95%;margin-top:15px;margin-right:55px">
            <li>
              <a routerLink="/error" class="text-white">About</a>
            </li>
            <li>
              <a routerLink="/error" class="text-white">Contact</a>
            </li>
            <li>
              <a routerLink="/faq_page" class="text-white">FAQ</a>
            </li>

          </ul>

          <ul class="list-unstyled mb-0" style="font-size: 95%;margin-top:15px;margin-left:55px">
            <li>
              <a routerLink="/error" class="text-white">Privacy</a>
            </li>
            <li>
              <a routerLink="/error" class="text-white">Support</a>
            </li>
            <li>
              <a routerLink="/error" class="text-white">Terms</a>
            </li>

          </ul>

        </div>

      </div>

      <div class="col-2">

      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <div class="text-right" style="margin-top:25px">

          <a routerLink="/error" class="fa fa-facebook"></a>
          <a routerLink="/error" class="fa fa-twitter"></a>
          <a routerLink="/error" class="fa fa-instagram"></a>
        </div>
      </div>
    </div>
  </div>


</footer>
<!-- Footer -->