#pos {
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.btn {

    background-color: #E4B564;


    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;



}





.page {
    /* The image used */
    background-image: url('/assets/images/5.png');



    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}