<div class="page">
    <div class="container-fluid">
        <div>
            <div class="row">
                <div class="col-2">

                </div>

                <div class="col-8" style="margin-top:10em">
                    <div id='pos'>
                        <br>
                        <div class="text-center" style="color: white;">
                            <h2>Try the 7-days trial</h2>
                        </div>
                        <br>

                        <div class="text-center">
                            <button class="btn" [routerLink]="['/register_page']" style="color:#daf1ff"
                                style="color: rgb(0, 0, 0); border-radius: 27px;">Try Now</button>
                        </div>
                        <br>

                        <div class="text-center">
                            <h4 style="color: white;">14.99&euro;/month charged automatically after trial period
                                expires.
                            </h4>
                            <h4 style="color: white;">Cancel anytime. Subscription auto-renews unless canceled.</h4>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-2">

                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br> <br><br><br><br>

</div>