<div class="container-fluid">
  <div class="row">
    <h2>FEATURES</h2>
    <div class="col-4 card">
      <img class="card-img-top" src="assets/images/1.png" alt="feature-1">
      <div class="card-body">
        <h5 class="card-title">New games every month</h5>
        <p class="card-text">Stay subscribed to PAMDA <br> and games will be added <br> every month</p>
      </div>
    </div>
    <div class="col-4 card">
      <img class="card-img-top" id="picture2" src="assets/images/2.png" alt="feature-2">
      <div class="card-body">
        <h5 class="card-title">No downloads. No updates</h5>
        <p class="card-text">No need to download or <br> update any game evere again </p>
      </div>
    </div>
    <div class="col-4 card">
      <img class="card-img-top" id="picture3" src="assets/images/3.png" alt="feature-3">
      <div class="card-body">
        <h5 class="card-title">Cancel and comeback anytime</h5>
        <p class="card-text">Easily jump back in your <br> subscription whenever you <br> want</p>
      </div>
    </div>
  </div>




</div>