// body{  
//     background: linear-gradient(#020202, #5A4C75);
//     background-attachment: fixed;
    
// }
 

.row{
    justify-content: center;
}

.card{
    background-color: transparent;
    border: 1px;	
    margin: 10px;
    text-align: center;
    width: 400px;
 

}
.card-img-top{

    height: 200px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
     
}

.card-title{
    font-size: 24px;
    color: white;
    font-family: 'Segoe UI';
}

.card-text{
    font-size: 18px;
    color: white;
    font-family: 'Segoe UI';
}

#picture2{
    
    width: 60%;
}
#picture3{
    
    width: 60%;
}

h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    color:white;
    text-shadow: rgb(255, 255, 255) 0px 8px 20px;
    font-family: 'Segoe UI';
}