<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div id="raf">

                <h4 class="text-center" style="margin-bottom: 5%;">FAQ</h4>

                <div>
                    <h6>What is cloud gaming?</h6>
                    <p>Cloud gaming allows you to stream games to the supported devices you own (phone, tablet, TV...)
                        with
                        a
                        high-speed internet connection.
                        Cloud gaming brings you flexibility in how you play without worrying about system requirements.
                        For
                        more
                        details, see the dedicated page.</p>
                </div>


                <div>
                    <h6>What kind of internet do i need?</h6>
                    <p>An internet connection speed of 10 megabits per second (Mbps) or greater is the minimum
                        recommended
                        to use Pamda</p>
                </div>


                <div>
                    <h6>How much does PAMDA cost?</h6>
                    <p>PAMDA is available to try for one week. Jump in with instant access to a growing collection of
                        games
                        (charged automatically at 14.99&euro;/month after trial, cancel anytime. Subscription autorenews
                        unless
                        cancelled).</p>
                </div>


                <div>
                    <h6>How can i cancel my subscription?</h6>
                    <p> You can cancel at any time in your account settings. Your subscription will remain active until
                        the
                        very
                        last
                        day of the current month you paid for. After this, the subscription will be cancelled and will
                        not
                        renew
                        itself. </p>
                </div>


                <div>
                    <h6>Will i get notified when my free trial expires?</h6>
                    <p>Yes, you will receive an email notifying you that your free trial is about to expire and that you
                        need to
                        cancel your subscription if you don't want to be charged automatically after the 7 days of your
                        free
                        trial.
                    </p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>