<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">  <!-- bg-custom style="background-color: #1C121C;"-->
    <div class="container-fluid">
    <a class="navbar-brand"> 
        <img src="assets/images/pamdaheader.png">
    </a>
    <span class="navbar-text" style="color: #ffffff;">PAMDA</span>            

        <ul class="navbar-nav" style="margin-left: auto;">
            <li class="nav-item">                
                    <style>
                        .btn{
                            color: #ffffff;                            
                            border-color: #ffffff; 
                        }
                        .btn:hover{
                            background-color: #7088DE;
                        }
                    </style>
                    <button class="btn text-light btn-outline-light" type="submit" id="signin">Sign In </button>    
            </li>
            
        </ul>
        
    </div>>
    
</nav>