.btn {
    margin-top: 80px;
    background-color: #E4B564;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15%;
    
}


img{
    margin-top: 50px;
    margin-left: 20%;
}

h2{
    margin-bottom: 5%;
    margin-left: 15%;
    color: white;
}

.row{
    text-align: center;
}

