<div class="container-fluid">
    
    <div class="row">
        
        <div class="col-4">
            <div> 
                <img src="/assets/images/9.jpg" alt="" width="400" height="300" style="border-radius: 30px;">
            </div>
          
        </div>

        <div class="col-4" >
            <h2>Halo Infinite</h2>
            <a href="#!" class="btn" style="color: black; font-size: 25px;">Play Now</a>
        </div>

        <div class="col-4">
        </div>

    </div>
</div>





