.btn {
    margin-top: 80px;
    margin-left: 20%;
    background-color: #E4B564;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}


img{
    margin-top: 50px;
    margin-left: 20%;
}

h1{
    margin-bottom: 5%;
}

