<div class="popa">
    <div>
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 200px;"
            alt="Avatar" />
    </div>
    <div class="row mt-5">
        <h4>My Profile</h4>
    </div>
    <div class="row mb-1">
        <h5>My Profile:&nbsp; &nbsp; nikos34 &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="70px"
                fill="currentColor" class="bi bi-pencil-fill" style="color: white;" viewBox="0 8 18 18">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg> </h5>
    </div>
    <div class="row mb-1">
        <h5>E-mail:&nbsp; &nbsp; nikosliak@gmail.com &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="25px"
                height="70px" fill="currentColor" class="bi bi-pencil-fill" style="color: white;" viewBox="0 8 18 18">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg> </h5>
    </div>
    <div class="row mb-1">
        <h5 id="check"> Password:&nbsp; &nbsp; ************ &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="25px"
                height="70px" fill="currentColor" class="bi bi-pencil-fill" style="color: white;" viewBox="0 8 18 18">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg> </h5>
    </div>
    <div class="row mb-1 ">
        <h5 id="check"> Notifications:&nbsp; &nbsp; I would prefer to receive notifications &nbsp; <svg
                xmlns="http://www.w3.org/2000/svg" width="25px" height="70px" fill="currentColor"
                class="bi bi-pencil-fill" style="color: white;" viewBox="0 8 18 18">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg> </h5>
    </div>
    <div class="row mb-1">
        <h5 id="check"> Account:&nbsp; &nbsp; Active &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="25px"
                height="70px" fill="currentColor" class="bi bi-pencil-fill" style="color: white;" viewBox="0 8 18 18">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg> </h5>
    </div>
    <div class="row mb-1">
        <h5 id="check"> Payment Settings:&nbsp; &nbsp; &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="25px"
                height="70px" fill="currentColor" class="bi bi-credit-card-2-back-fill" style="color:white"
                viewBox="0 0 18 18">
                <path
                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z" />
            </svg> &nbsp; &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="70px" fill="currentColor"
                class="bi bi-pencil-fill" style="color: white;" viewBox="0 8 18 18">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg> </h5>
    </div>
    <div class="row ">
        <h5 id="check"> Friend List &nbsp;(20):&nbsp; &nbsp; Active &nbsp;<svg xmlns="http://www.w3.org/2000/svg"
                width="25px" height="70px" fill="currentColor" class="bi bi-arrow-down-circle-fill"
                style="color: white;" viewBox="0 0 18 20">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg> </h5>

    </div>
    <div class="row mt-3">
        <h4 style="color: white;">My List</h4>
        <div *ngFor="let number of result" class="col-md-3 img-container">
            <div class="card" style="width: 17rem; height: 15rem;">
                <a routerLink="/details_page" [state]="{games: response.results[number]}">
                    <img class="card-img-top" [src]="response.results[number].background_image" alt="Card image cap"
                        width="200px" height="150px">
                    <div class="card-body">
                        <h6 class="card-title">{{response.results[number].name}}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>